/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: ad797d;
    overflow-x: hidden;
    background: linear-gradient(to right, #ff5f6d, #ffc371); /* Fundo gradiente futurista */
    background-size: cover;
    background-attachment: fixed;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff5f6d;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-image: linear-gradient(to right, #ff5f6d, #006494);
    transition: background-image 0.3s ease, transform 0.3s ease;
}

.header:hover {
    background-image: linear-gradient(to right, #006494, #ff5f6d);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    transition: color 0.3s ease;
}

.header i {
    font-size: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.header i:hover {
    transform: scale(1.1);
}

.welcome-message {
    margin: 20px auto;
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: ad797d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px; /* Ajuste conforme necessário */
}


.header-icons {
    display: flex;
    align-items: center;
}

.header-icons a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.header-icons a:hover {
    color: #f39c12;
}

.header-icons i {
    margin-right: 8px;
}

.content {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: ad797d;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.content:hover {
    background-color: #f2f2f2;
    transform: translateY(-5px);
}

.flash-messages {
    list-style: none;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f39c12;
    color: ad797d;
    border-radius: 5px;
    border: 2px solid #f39c12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(-20px);
}

.flash-messages.show {
    opacity: 1;
    transform: translateY(0);
}

.flash-messages::before {
    content: '\1F389';
    font-size: 20px;
    margin-right: 10px;
}

.flash-messages:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cupcake-list h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #ff4081;
    text-align: center;
    position: relative;
}

.cupcake-list h1::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, rgba(255, 64, 129, 0.8) 0%, transparent 70%);
    animation: pulse 2s ease-in-out infinite;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.cupcake-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cupcake-item {
    background: linear-gradient(to bottom, ad797dfff, #f2f2f2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 280px;
    text-align: center;
    cursor: pointer;
}

.cupcake-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cupcake-item:hover .cupcake-image img {
    filter: grayscale(100%);
}

.cupcake-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: filter 0.3s;
    cursor: pointer;
}

.cupcake-info {
    padding: 20px;
}

.cupcake-name {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.cupcake-description {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}

.cupcake-price {
    font-size: 18px;
    color: #ff5f6d;
    margin-bottom: 20px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.quantity-selector button {
    background-color: #ff5f6d;
    color: white;
    border: none;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.quantity-selector button:hover {
    background-color: #006494;
    transform: translateY(-3px);
}

.quantity-selector input {
    width: 50px;
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    transition: border-color 0.3s;
}

.quantity-selector input:focus {
    border-color: #ff5f6d;
    box-shadow: 0 0 8px rgba(102, 51, 153, 0.5);
    outline: none;
}

.buy-button {
    background-color: #ff5f6d;
    color: white;
    border: 2px solid transparent;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
}

.buy-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-out;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
}

.buy-button:hover::before {
    transform: translate(-50%, -50%) scale(3);
}

.buy-button:hover {
    background-color: #006494;
    border-color: #006494;
    transform: translateY(-3px);
}

.unavailable {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.unavailable:hover {
    opacity: 0.8;
    transform: scale(1.05);
    filter: brightness(120%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transform: scale(1);
}

.modal-conteudo {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: ad797d;
    padding: 20px;
    overflow-y: auto;
    transition: opacity 0.3s ease-in-out;
}

.fechar-modal {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.fechar-modal:hover {
    color: #f39c12;
}
